*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(196, 196, 196);
}

div{
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
}

div h1{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

input{
    width: 60%;
    background-color: transparent;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 6px;
}

select{
    width: 45%;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 6px;
}

button{
    width: 26%;
    font-size: 15px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 5px;
    background-color: rgb(206, 206, 206);
    transition: 2ms;
}

button:hover{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    h1{
        font-size: 20px;
        padding: 0.5rem;
    }
}