*{
    margin: 0;
    padding: 0;
}

h3,p{
    color: rgb(221, 221, 221);
}

body{
    background-color: rgb(77, 73, 73);
}

#calculadora{
    border: 2px solid black;
    border-radius: 5px;
    min-width: 300px;
    max-width: 400px;
    background-color: rgb(20, 20, 20);
}

#max{
    display: flex;
    justify-content: center;
    height: 50vh;
}

#visor{
    background-color: rgb(4, 17, 3);
    border: 2px solid rgb(2, 8, 1);
    width: 99%;
    height: 25%;
}

#buttons{
    align-items: center;
}

button{
    background-color: rgb(32, 32, 32);
    color: rgb(219, 219, 219);
    width: 20%;
    margin: 0.2rem;
    padding: 0.5rem;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 3px;
}
button:hover{
    background-color: rgb(43, 43, 43);
}